/* chatroom page */
h1#index-title
{
  color:#ADACB5;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}
body#chat-body
{
  padding-top: 5%;
}

/* room list chatroom page */
div#index
{

}

ul#room-list
{
  list-style: none;
  /* no bullet points */
}

li#room a
{
  color: #5f668b;
}

li#room a:hover
{
  color: #ADACB5;
}

div#list-of-chat-rooms
{
  color:#D8D5DB;
  margin-left: 5%;
  display: inline-flex;
  /* this will display everything within the boundaries of the div relatively, and flex them */
  flex-direction: column;
}

button
{
  background-color: #49475a;
  color: #b5acbd;
  border-radius: 7px;
}

button:hover
{
  color: #e3d9ec;
  transition-duration: .2s;
}

input
{
  background-color: #49475a;
  color: #b5acbd;
  border-radius: 7px;
  
}

div#current-room-text
{
  display: inline-flex;
}

/* individual chatrooms */
div#chat
{
  padding-left: 5%;
  display: inline-flex;  
  width: 70%;
}
textarea#log
{
  display: block;
  height: 600px; 
  margin: 0; 
  padding: 0; 
  border: 0;
  background-color: #cbcbcf8a;
  border-radius: 7px;
  color: #5e6aa7;
  width: 1100px;
  /* for now I will manually set width, cannot fill div another way for some reason */
}
input#input
{
  display: block; 
  width: 100%; 
  border-width: 1px 0 1px 0;
}











/* aboutpage */
div#aboutpage
{
  color: #ADACB5;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}
ul#aboutpagecontributors
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}
ul#aboutpagetasks
{
  color: #ffffff;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}
h3#aboutpageh3-2
{
  top: 25px;
  color: #D8D5DB;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 4s;
}


/* homepage */
div#homepage
{
  color:#ADACB5;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  /* centering */
}






/* animations */
@keyframes fade
{
  0%{opacity: 0}
  100%{opacity: 1;}
  /*takes opacity from 0 and gradients it to 1*/
}








/* headfoot */
header
{
  font-size: larger;
  position: fixed;
  top: 0;
  padding: 10px;
  animation: fade 2s;
}

footer
{
  color: #5f668b;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  animation: fade 2s;
}




/* webpage formatting */
body {
  font-family: 'Chivo';
  background-image: url("../img/papyrus-dark.png");
  /* Source: https://www.toptal.com/designers/subtlepatterns/uploads/papyrus-dark.png */
}


h1#homeabout
{
  margin: 0;
  animation: fade 2s;
}
h3#homeabout
{
  top: 25px;
  color: #D8D5DB;
  opacity: 0;
  animation: fade 4s forwards;
  animation-delay: 2s;
}






/* navbar */
div#navbar
{
  height: 20px;
  display: table;
  float: left;
  margin: 0 auto;
}

li#navli
{
  display: inline;
}

li#navli a
{
  color: #5f668b;
  padding: 5px;
  text-decoration: none;
}

li#navli a:hover
{
  color: #ADACB5;
}





/* scrollbar */
::-webkit-scrollbar
{
  background: #464a5a;
  border: none;
}
::-webkit-scrollbar-thumb {
  background: #62607a;
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #D8D5DB;
}
